:root{
    --fuentePrincipal: 'PT Sans Caption', sans-serif;
    --Fondos1: rgb(247, 247, 16);
    --Textos1: red;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
a{
    text-decoration: none;
}
li {
    list-style: none;
}
.header{

    background-image: url(../img/header.png);
    background-size: cover;
    padding: 4rem;
    text-align: center;
    font-family: var(--fuentePrincipal);
    font-size: 2rem;

}

.titulo{
    color: var(--Textos1);
}
.navegacion{
    background-color: var(--Fondos1);
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;

}
.footer{
    background-color: aquamarine;
}

