
$fuentePrincipal: 'PT Sans Caption', sans-serif;
$Fondos1: rgb(247, 247, 16);
$Textos1: red;
$fondos2: rgba(247, 150, 227, 0.895);


html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
a{
    text-decoration: none;
}
li {
    list-style: none;
}
span {
    font-family: $fuentePrincipal;
    color: $Textos1;
}

h1, h2, h3, h4, h5 {
    font-family: $fuentePrincipal;
}